*~
*.swp
*.swo
*.o
*.a
.sconsign*
*.elf
*.hex
*.log
*.dtt
*.wav
*.pyc
*.DAT
*.DTT
*.ITT
*.ITT*
*.DTT*
*.LOG
*.LON
*.IND
*#
*.aux
*blx.bib
*.bbl
*.blg
*.run.xml
*.mseed
filenr.lis
mulplt.out
*.mexa64
rl
matlab/*.bin
cpp/job*/out*
hs_log.txt
hs_result.*
hs_out*
hs_figures*
.gmt*
